.navbar {
    width:100vw;
    background-color: rgba(17, 17, 33, 255);
    color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 30px;
}

.navbar img {
    width: 50px;
    height: auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    font-weight:500;
    display: inline;
    margin-right: 50px;
    cursor: pointer;
}

.navbar ul li a {
    color: white; 
    text-decoration: none;
}